main *
{
border: 1px solid;
}

main
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 500px;
}

header
{
    text-align: center;
grid-column: 1 / 5;
}

.un
{
    grid-column: 1 / 4;
}

.deux
{
    grid-column: 4 ;
}

.trois
{
    grid-column: 1 / 3;
}

.quatre
{
    grid-column: 3 / 5;
}

.cinq
{
    grid-column: 1 ;
}

.six
{
    grid-column: 2 /5;
}

footer
{
    text-align: center;
    grid-column: 1 / 5;
    height: 100px;
}



