.container 
{
   display: grid;
   grid-template-columns: 1fr 1fr ;
   grid-gap: 20px;
   grid-auto-rows: 100px;
}

.C1
{
background-color: red;
}

.C2
{
    background-color: blue;
}

.C3
{
    background-color: green;
}

.C4
{
background-color: yellow;
}

.C5
{
background-color: brown;
}

.C6
{
background-color: aqua;
}

.C7
{
background-color: blueviolet;
}

.C8
{
background-color: cadetblue;
}